<!DOCTYPE html>
<html>
<head>
	<title>Add User</title>
</head>
<body>

<h1>Add User</h1> 

	<a href="/home">Back</a> |
	<a href="/logout">logout</a> 
	<br>
	<br>

<form method="post">
	<table border="0" width="300px" >
		<tr>
			<td width="35%">User Name</td>
			<td width="2%">:</td>
			<td><input type="text"  name="uname" /></td>
		</tr>
		<tr>
			<td>Password</td>
			<td>:</td>
			<td><input type="password"  name="password" /></td>
		</tr>
		<tr>
			<td>Type</td>
			<td>:</td>
			<td><input type="text"  name="type" /></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><input type="submit"  name="save" value="Save" /></td>
		</tr>
	</table>
</form>

</body>
</html>