<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="abc/style.css">
</head>
<body>

<h1>Welcome Home, <%=name%></h1> 

	<a href="/home/profile">Profile</a> |
	<a href="/home/adduser">Add User</a> |
	<a href="/home/userlist">User List</a> |
	<a href="logout">logout</a> 

</body>
</html>