<!DOCTYPE html>
<html>
<head>
	<title>Profile Page</title>
</head>
<body>

<h1>Profile Page</h1> 

	<a href="/home">Back</a> |
	<a href="/logout">logout</a> 
	<br>
	<br>

	<table border="0" width="300px" >
		<tr>
			<td width="35%">User Name</td>
			<td width="2%">:</td>
			<td><%=username%></td>
		</tr>
		<tr>
			<td>Password</td>
			<td>:</td>
			<td><%=password%></td>
		</tr>
		<tr>
			<td>Type</td>
			<td>:</td>
			<td><%=type%></td>
		</tr>
	</table>

</body>
</html>